<div class="editor-field">
    @{
        IEnumerable<SelectListItem> ProjectListFull = ViewBag.ProjectList;
    }
    @if (ViewBag.Selected == true)
    {
        foreach (var item in ProjectListFull.Where(x => x.Selected == true))
        {
            @item.Text
        }
    }
    else
    {
        @Html.DropDownList("ProjectTableId", ProjectListFull, new { @class = "selectpickerfull", @data_live_search = "true", @data_size = "10" })
    }
</div>