@model RapidDoc.Models.DomainModels.PRT_DecisionList_Table
@using RapidDoc.Extensions;
@{
    Layout = "";
}

<table class="table table-min" style="margin-bottom: 0;">
    <tbody>
        <tr>
            <td style="width: 20px;">
                <strong>@String.Format("{0}.{1}", ViewData["numQuestion"].ToString(), ViewData["numDecision"].ToString())</strong>
            </td>
            <td>
                @Html.Raw(Model.Decision)
            </td>
        </tr>
    </tbody>
</table>