@model RapidDoc.Models.DomainModels.PRT_DecisionList_Table
@using RapidDoc.Extensions;
@{
    Layout = "";
}

<table class="table table-condensed">
    <tr>
        <td>
            <strong>@String.Format("{0}.{1}", ViewData["numQuestion"].ToString(), ViewData["numDecision"].ToString())</strong>
        </td>
        <td>
            @Html.Raw(Model.Decision)
        </td>
    </tr>
</table>