@model RapidDoc.Models.DomainModels.PRT_DecisionList_Table
@using RapidDoc.Extensions;
@{
    Layout = "";
}

<table class="table table-min" style="margin-bottom: 0;">
    <tbody>
        <tr>
            <td style="width: 5px;"></td>
            <td>
                <strong style="white-space: nowrap;">Поручение №@ViewData["numDecision"].ToString()</strong>
                @Html.Raw(Model.Decision)
            </td>
        </tr>
    </tbody>
</table>