@model RapidDoc.Models.DomainModels.PRT_QuestionList_Table
@using RapidDoc.Extensions;
@{
    Layout = "";
    string index = ViewData["counter"].ToString();
}

@using (Html.BeginCollectionItem("PRT_QuestionList_Table__QuestionList" + "*" + index))
{
    <div class="col-xs-1">
        <strong style="white-space: nowrap;"><span class="fa fa-question-circle"></span> Вопрос <span class="questionNumber"></span></strong>
    </div>
    <div class="col-xs-11">
        @Html.TextAreaFor(model => Model.Question, new { @class = "form-control summernotelight" })

        @if (Model.DecisionList != null && Model.DecisionList.Count() > 0)
        {
            <div id="decisionRow_@index" class="decisionRow">
            @foreach (var decision in Model.DecisionList)
            {
                Html.RenderPartial("~/Views/Custom/_DecisionList.cshtml", decision, new ViewDataDictionary { { "counter", index } });
            }
            </div>
        }
        @Html.ActionLink("Добавить решение", "CreateNewDecisionProtocol", "Custom", new { counter = index }, new { @id = "addItemDecision_" + index, @class = "addItemDecision" })
    </div>
    <hr style="width: 100%; color: grey; height: 1px; background-color: grey;" />
}