<div class="editor-field">
    @{
        IEnumerable<SelectListItem> QuestionRequestListFull = ViewBag.QuestionRequestList;
    }
    @if (ViewBag.Selected == true)
    {
        foreach (var item in QuestionRequestListFull.Where(x => x.Selected == true))
        {
            @item.Text
        }
    }
    else
    {
        @Html.DropDownList("QuestionRequestTableId", QuestionRequestListFull, new { @class = "selectpickerfull", @data_live_search = "true", @data_size = "10" })
    }
</div>