@model List<RapidDoc.Models.DomainModels.PRT_QuestionList_Table>
@using RapidDoc.Extensions;
@{
    Layout = "";
    int numDecision = 0;
    int numTwoDecision = 0;
    int numThreeDecision = 0;
    int numQuestion = 0;
    int prevDecisionType = 0;
}

@foreach (var question in Model)
{
    prevDecisionType = 0;
    <div>
        <table class="table table-min" style="margin-bottom: 0;">
            <tbody>
                <tr>
                    <td style="width: 95px;">
                        @if (!String.IsNullOrEmpty(question.Question))
                        {
                            numQuestion++; 
                            <strong style="white-space: nowrap;">Вопрос №@numQuestion.ToString().</strong>
                        }
                    </td>
                    <td>
                        @Html.Raw(question.Question)

                        @foreach (var decision in question.DecisionList)
                        {
                            if (decision.Type == 1 && decision.Type != prevDecisionType)
                            {
                                prevDecisionType = decision.Type;
                                <table class="table table-min" style="margin-bottom: 0;">
                                    <tbody>
                                        <tr>
                                            <td style="width: 16px;"></td>
                                            <td><strong class="text-uppercase" style="white-space: nowrap;">Решение:</strong></td>
                                        </tr>
                                    </tbody>
                                </table>
                            }

                            if (decision.Type == 0)
                            {
                                numDecision++;
                                Html.RenderPartial("~/Views/Custom/_DecisionListView.cshtml", decision, new ViewDataDictionary { { "numQuestion", ViewData["numQuestion"] }, { "numDecision", numDecision } });
                            }
                            else if(decision.Type == 1)
                            {
                                numTwoDecision++;
                                Html.RenderPartial("~/Views/Custom/_DecisionListView.cshtml", decision, new ViewDataDictionary { { "numQuestion", ViewData["numQuestion"] }, { "numDecision", numTwoDecision } });
                            }
                            else if(decision.Type == 2)
                            {
                                numThreeDecision++;
                                Html.RenderPartial("~/Views/Custom/_DecisionListView.cshtml", decision, new ViewDataDictionary { { "numQuestion", ViewData["numQuestion"] }, { "numDecision", numThreeDecision } });
                            }
                        }
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <br />
}