@model RapidDoc.Models.DomainModels.PRT_QuestionList_Table
@using RapidDoc.Extensions;
@{
    Layout = "";
    int numDecision = 0;
}
<div>
    <table class="table table-min" style="margin-bottom: 0;">
        <tbody>
            <tr>
                <td style="width: 20px;">
                    <strong style="white-space: nowrap;">Вопрос №@ViewData["numQuestion"].ToString().</strong>
                </td>
                <td>
                    @Html.Raw(Model.Question)

                    @if (Model.DecisionList != null && Model.DecisionList.Count() > 0)
                    {
                        foreach (var decision in Model.DecisionList)
                        {
                            numDecision++;
                            Html.RenderPartial("~/Views/Custom/_DecisionListView.cshtml", decision, new ViewDataDictionary { { "numQuestion", ViewData["numQuestion"] }, { "numDecision", numDecision } });
                        }
                    }
                </td>
            </tr>
        </tbody>
    </table>
</div>