 @model RapidDoc.Models.DomainModels.PRT_QuestionList_Table
@using RapidDoc.Extensions;
@{
    Layout = "";
    string index = ViewData["counter"].ToString();
    Guid? documentId = (Guid?)ViewData["documentId"];
}

@using (Html.BeginCollectionItem("PRT_QuestionList_Table__QuestionList" + "*" + index))
{
    <div class="col-xs-1">
        <strong style="white-space: nowrap;">Вопрос №<span class="questionNumber"></span></strong>
    </div>
    <div class="col-xs-11">
        <label class="radio-inline text-uppercase">@Html.RadioButtonFor(model => Model.IncludeText, false) Нет</label>
        <label class="radio-inline text-uppercase">@Html.RadioButtonFor(model => Model.IncludeText, true) Да</label>
        <h6 class="radio-inline"><small class="text-danger"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> Включить текст вопроса в поручение</small></h6>
        @Html.TextAreaFor(model => Model.Question, new { @class = "form-control summernotelight" })

            <div id="decisionRow_@index" class="decisionRow">
            @if (Model.DecisionList != null && Model.DecisionList.Count() > 0)
            {
                foreach (var decision in Model.DecisionList)
                {
                    Html.RenderPartial("~/Views/Custom/USC_PRT_DecisionList.cshtml", decision, new ViewDataDictionary { { "counter", index }, { "documentId", documentId } });
                }
            }
            </div>
        @Html.ActionLink("Добавить поручение\\решение", "CreateNewDecisionProtocol", "Custom", new { counter = index, viewName = "USC_PRT_DecisionList" }, new { @id = "addItemDecision_" + index, @class = "addItemDecision btn btn-link" })
    </div>
    <hr style="width: 100%; color: grey; height: 1px; background-color: grey;" />
}