@model RapidDoc.Models.ViewModels.USR_REQ_ROGR_RequestForOneSource_View
@using RapidDoc.Extensions;

@Html.Partial("_DocumentEditFields", Model)

<hr />
<div class="alert alert-info" role="alert">
    <p> В заявке нужно обязательно прикрепить: </p>
    <p> 1. форма excel способом из ОИ; </p>
    <p> 2. подтверждающие документы закупа из ОИ (аварийный акт, протокол несостоявшегося ОК и т.д.); </p>
    <p> 3. проктокол тендерной площадки либо согласование УФК; </p>
    <p> 4. согласование курьирующего руководителя. </p>
</div>
