@model RapidDoc.Models.ViewModels.USR_REQ_ROGR_RequestForOpenCompetition_View
@using RapidDoc.Extensions;

@Html.Partial("_DocumentEditFields", Model)

<hr />
<div class="alert alert-info" role="alert">
    <p> В заявке нужно обязательно прикрепить: </p>
    <p> 1. конкурсная документация на русском и казахском языках (КД проект договора, тех.спецификация); </p>
    <p> 2. форма excel способом ОК; </p>
    <p> 3. Приказ. </p>
</div>
