@model RapidDoc.Models.ViewModels.USR_REQ_ROGR_RequestForPriceOffers_View
@using RapidDoc.Extensions;

@Html.Partial("_DocumentEditFields", Model)

<hr />
<div class="alert alert-info" role="alert">
    <p> В заявке нужно обязательно прикрепить: </p>
    <p> 1. проект договора; </p>
    <p> 2. форма excel способом ЦП. </p>
</div>