<div class="editor-field">
    @{
        IEnumerable<SelectListItem> OrganizationListFull = ViewBag.OrganizationList;
    }
    @if (ViewBag.Selected == true)
    {
        foreach (var item in OrganizationListFull.Where(x => x.Selected == true))
        {
            @item.Text
        }
    }
    else
    {
        @Html.DropDownList("OrganizationTableId", (IEnumerable<SelectListItem>)ViewBag.OrganizationList, new { @class = "selectpickerfull", @data_live_search = "true", @data_size = "10" })
    }
</div>