<div class="editor-field">
    @Html.DropDownList("WorkerSearchId", (IEnumerable<SelectListItem>)ViewBag.WorkerSearchList, new { @class = "selectpickerfull", @data_live_search = "true", @data_size = "10" })
</div>