<div class="editor-field">
    @if (ViewBag.Selected == true)
    {
        @foreach (var item in (IEnumerable<SelectListItem>)ViewBag.CountryList)
	    {
		    @Html.DisplayText(item.Text )
	    }       
    }
    else
    { 
        @Html.DropDownList("CountryTableId", (IEnumerable<SelectListItem>)ViewBag.CountryList, new { @class = "selectpickerfull", @data_live_search = "true", @data_size = "10"})
    }
</div>
