<div class="editor-field">
    @Html.DropDownList("IncomingNumberDocId", (IEnumerable<SelectListItem>)ViewBag.IncomingDocList, new { @class = "selectpickerfull", @data_live_search = "true", @data_size = "10" })
</div>

