<div class="editor-field">
    @Html.DropDownList("OutcomingNumberDocId", (IEnumerable<SelectListItem>)ViewBag.OutcomingDocList, new { @class = "selectpickerfull", @data_live_search = "true", @data_size = "10" })
</div>

