<div class="editor-field">
    @Html.DropDownList("CountryTableId", (IEnumerable<SelectListItem>)ViewBag.CountryList, new { @class = "selectpickerfull", @data_live_search = "true", @data_size = "10" })
</div>
