@{
    var cancellistItem = ((IEnumerable<SelectListItem>)ViewBag.ORDRevocationList).FirstOrDefault(x => x.Selected == true);
}

@if ((bool)ViewBag.EditMode == true)
{
    <div id="buttoncancelorder" class="editor-field" style="visibility: hidden">
        @Html.DropDownList("CancelDocumentId", (IEnumerable<SelectListItem>)ViewBag.ORDRevocationList, new { @class = "selectpickerfull", @data_live_search = "true", @data_size = "10" })
    </div>
}
else
{
    if (cancellistItem != null)
    {
        @Html.ActionLink(cancellistItem.Text, "ShowDocument", "Document", new { id = cancellistItem.Value, isAfterView = true }, new { target = "_blank" })
    }
}
