<div class="editor-field">
    @{
        IEnumerable<SelectListItem> list = ViewBag.PRTFolderList;
    }
    @if (ViewBag.Selected == true)
    {
        foreach (var item in list.Where(x => x.Selected == true))
        {
            @item.Text
        }
    }
    else
    {
        @Html.DropDownList("ProtocolFoldersTableId", (IEnumerable<SelectListItem>)ViewBag.PRTFolderList, new { @class = "selectpickerfull", @data_live_search = "true", @data_size = "10" })
    }
</div>
