<div class="editor-field">
    @{
        IEnumerable<SelectListItem> IncomingDocList = ViewBag.IncomingDocList;
    }
    @if (ViewBag.Selected == true)
    {
        foreach (var item in IncomingDocList.Where(x => x.Selected == true))
        {
            <a href="@Url.Action("ShowDocument", "Document", new { id = item.Value })">@item.Text</a>
        }
    }
    else
    {
        @Html.DropDownList("IncomingNumberDocId", IncomingDocList, new { @class = "selectpickerfull", @data_live_search = "true", @data_size = "10" })
    }
</div>

