@model RapidDoc.Models.ViewModels.USR_REQ_JU_RequestFoTakeContractByScanner_View
@using RapidDoc.Extensions;

@Html.Partial("_DocumentViewFields", Model)
<hr />
<h4 class="text-info">ПРИМЕЧАНИЕ:</h4>
<h6 class="text-danger">Руководитель инициатора Заявки несет персональную ответственность за предоставляемые сведения и документы в настоящей заявке, по активации Договора без оригинала.</h6>